* {
  font-family: sans-serif;
}

#header-main {
  border: 1px solid black;
  height: 50px;
}

#header-title {
  font-size: 25px;
}

#board-main {
  text-align: center;
  margin: 0px;
  margin: auto;
}

.cell {
  background-color: #ddd;
  border: 1px solid white;
  /*box-sizing: border-box;*/
  display: inline-block;
  padding: 0px;
  margin: 0px;
  float: left;
}

.row {
  padding: 0px;
  margin: 0px;
  /*margin-bottom: -4px;*/
}

.own-snake {
  background-color: #4ab;
}

.other-snake {
  background-color: #8d1;
}
